*
{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}
.main
{
     height: 500px;
     width: 800px;
     margin: auto;
     display: grid;
     grid-template-columns: repeat(4,1fr);
     gap: 5px;
}
img
{
     height: 100%;
     width: 100%;
     object-fit: cover;
}
.child3
{
     grid-column-start: 3;
     grid-column-end: 5;
}
.child1
{
     grid-row-start: 1;
     grid-row-end: 3;
}
.child6
{
     grid-column-start: 4;
     grid-row-start: 2;
     grid-row-end: 4; 
}
.child7
{
     grid-column-start: 1;
     grid-column-end: 3;
}

