*
{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
body
{
     font-family: poppiens sans-serif;
     background-color:#D5DBDB;
}
img{
     height: 100%;
     width: 100%;
     object-fit: cover;
}
section
{
     padding: 20px 50px;
     gap: 50px;
}
.row
{
     display: flex;
     gap: 15px;
     /* justify-content: center; */
}
.img_item
{
     height:300px;
     /* width:300px; */
     flex-grow: 1;
     overflow: hidden;
     position: relative;
  
     
}
.title
{
     display: flex;
     justify-content: center;
}
.sec_title
{
   text-align: center;  
   font-size: 40px;
   text-decoration: underline;
   text-underline-offset: 5px;
   display: inline;
   padding: 10px;
   letter-spacing: 10px;
   margin: 20px;  
}
h1
{
     font-size: 30px;
     margin-bottom: 5px;
}
/* effect 1 */
.effect_1 .layer
{
     cursor: pointer;
     background-color: rgba(0, 0, 0, .5);
     position: absolute;
     left:0;
     top:0;
     height: 100%;
     width: 100%;
     color: white;
     text-align: center;
     padding: 0 20px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     opacity: 0;
     transition: .5s;
}
.effect_1 .img_item:hover .layer
{
     opacity: 1;
}

/* effect 2 */

.effect_2 .layer
{
     cursor: pointer;
     position: absolute;
     left:0;
     top:0;
     height: 100%;
     width: 100%;
     color: white;
     text-align: center;
     padding: 0 20px;
     display: flex;
     flex-direction: column;
     justify-content:flex-end;
     transition: .5s;
}
.effect_2 .img_item:hover .layer
{
     background-image:linear-gradient(transparent 50%, rgba(00,0,0,0.7)); 
     
}
.effect_2 h1
{
     transform: translatey(70px);
     transition: .3s;
}
.effect_2 .img_item:hover h1
{
     transform: translate(0px);
}
.effect_2 p
{
     transform: translateY(70px);
     transition: .4s;
}
.effect_2 .img_item:hover p
{
     transform: translate(0px);
     padding-bottom: 50px;
}
.effect_2 .img_item:hover .layer
{
    transform: translate(0px);
}

/* effect 3 */

.effect_3 .layer
{
     background-color: rgba(255, 255, 255, .5);
     position: absolute;
     top: 0;
     left: 0;
     height: 100%;
     width: 100%;
     opacity: 0;
     transition: .5s;
     
}
.effect_3 .sub_layer
{
     position: absolute;
     display: flex;
     color: white;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     border: solid black 2px;
     background-color: rgba(0, 0, 0, .6);
     transition: .5s;
     padding: 0px 20px;

}
.effect_3 .img_item:hover .layer
{
     opacity: 1;
}
.effect_3 .img_item:hover .sub_layer
{
     top: 20px;
     left: 20px;
     bottom: 20px;
     right: 20px;
     transform: scale(0px);
}

/* effect 4 */
.effect_4 .layer
{
     position: absolute;
     left: 0;
     right: 0;
     top: 0;
     bottom: 0;
}
.effect_4 .img_item:hover .layer
{
     background: linear-gradient(to bottom, rgba(37,141,200,.5) 0%,rgba(104,60,19,.5) 100%);

}
.effect_4 .sub_layer
{
     position: absolute;
     top: 45px;
     left: 65px;
     color: white;
}
.effect_4 .text
{
     position: absolute;
     top: 70%;
     left: 65px;
     color: white;
     opacity: 0;
     transition: .7s;
}
.effect_4 .img_item:hover .text
{    
     opacity: 1;
}
.effect_4 .box
{
     height: 100px;
     width: 80%;
     position: absolute;
     left: 40px;
     top: 30px;
     border: 5px solid white;
     transition: .5s;

}
.effect_4 .img_item:hover .box
{
     transform: translatey(130px);

}

/* effect 5 */
.effect_5 .img_item img
{
     transform: scale(1.5);
     transition: .5s;
}
.effect_5 .img_item:hover img
{
     transform: scale(1);
}
.effect_5 .layer
{
     position: absolute;
     left: 0;
     right: 0;
     top: 0;
     bottom: 0;
     background-color: rgba(48,133,163, .2);
}
.effect_5 .img_item:hover .layer
{
     background-color: rgba(48,133,163, .5);
}
.effect_5 .box
{
     height: 100%;
     width: 100%;
     position: absolute;
     border: 1px solid white;
     transition: .5s;
     opacity: 0;
}
.effect_5 .img_item:hover .box
{
     opacity: 1;
     height: 260px;
     width: 340px;
     left: 20px;
     top: 20px;
     /* transform: scale(1); */
}
.effect_5 .sub_layer
{
     display: flex;
     margin-top: 80px;
     margin-bottom: 20px;
     color: white;
     font-family: 'Raleway', Arial, sans-serif;

     /* align-items: center; */
     justify-content: center;
}
.effect_5 .text
{
     color: white;
     text-align: center;
     /* margin-top: 20px; */
     padding: 0 100px;
     font-family: 'Raleway', Arial, sans-serif;
     opacity: 0;
     transition: .3s;
}
.effect_5 .img_item:hover .text
{
     opacity: 1;
}

.effect_6 .img_item img
{
     transform-origin: top right;
     transform: scale(1.3);
     transition: .5s;
} 
.effect_6 .img_item:hover img
{
     transform: scale(1);
}
.layer
{
     position: absolute;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
}
.effect_6 .img_item:hover .layer
{
     background-color:   rgba(63, 117, 183, 0.4);
}
.effect_6 .sub_layer
{
     transform: translatex(170px) translatey(220px);
     color: white;
}
.effect_6 .text
{
     color: white;
     border-right: solid 1px white;
     width: 100px;
     margin-left: 10px;
     text-align: right;
     padding-right: 10px;
     display: none;
     /* font-weight: bold; */
     transition: .5s;
}
.effect_6 .img_item:hover .text
{
     transform: translate(50px);
     display: block;
}

/* EFFECT 7 */

.effect_7 .layer
{
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     /* background: black; */
     transition: .5s;
} 
.effect_7 .img_item:hover .layer
{    
     border-left: 15px solid black;
     border-top:15px solid black ;
     border-right: 45px solid black;
     border-bottom: 45px solid black;
     background-color: rgba(0, 0, 0, .2);

}
.effect_7 .sub_layer
{
     /* transform: translatex(180px) translatey(250px); */
     margin-left: 190px;
     margin-top: 260px;
     color: white;
     transition: .5s;
     font-variant: small-caps;
}
.effect_7 .img_item:hover .sub_layer
{
     /* transform: translatex(-0px) translatey(240px); */
     margin-left: 0;
     margin-top: 245px;
}
/* .main_layer
{
     position: relative;
} */
.effect_7 .icon
{
   transform: translatex(180px); 
   color: white;
}
/* .effect_7 .icon_b
{
     position: absolute;
     top: 0px;
     left: 80%;
     color: white;
}
 */
