*
{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
body
{
     font-family: Georgia, 'Times New Roman', Times, serif;
     background-color: aquamarine;
}
a{
     display: inline-block;
     text-decoration: none;
}
ul
{
     list-style: none;
}
.container
{
     padding: 0px 100px;
}
.color
{
     background-color: #ECF3FC;
}
.top_header
{
     display: flex ;
     justify-content: space-between;
     align-items: center;

}
.top_header .call a
{
     color: #183661;
     text-decoration: none;
}
.icons .cir
{
     height: 30px;
     width: 30px;
     border-radius: 50%;
     background-color: #183661;
     padding: 8px;
     margin: 5px;
     /* text-align: center; */
     /* align-items: center; */
}
.social_media
{
     color: white;
}
.icons 
{
     display: flex;
}
.select
{
     border-radius: 30px;
     padding: 4px 20px;
     margin: 7px;
     display: flex;
}
.bar
{
     display: flex;
     align-items: center;

}
.bar .time
{
     margin-left:10px;
      /* margin-right: 57px; */
}
.phone
{
     margin-right: 7px;
}
.top_header .call:hover a
{
     text-decoration: underline;
}
.top_header .icons .cir:hover 
{
     background-color: #F2C119;
}
.mid_header
{
     display: flex;
     justify-content: space-between;
     padding: 20px 0;
     align-items: center;
}
button
{
     background-color: #183661;
     color: white;
     padding: 8px 52px;
     margin-right: px;
     border-radius: 30px;
}
.mid_color
{
     background-color: white;
   
}
.mid_header .mail a
{
     color: #183661;
}
.bag
{
     margin-right: 50px;
     font-size: 30px;
     color: #183661;
}
button a
{
     color: white;
     text-decoration: none;
}
.btn button:hover {
     background-color: #F2C119;
}
.main_menu > ul
{
     display: flex;
}
.main_menu li
{
     margin-right: 50px;
     
}
.sub_header
{
     display: flex;
     justify-content: space-between;
     align-items: center;
}
.search_bar input
{
     border-radius: 60px;
     padding: 5px 15px;
     /* size: 50px; */
}
.last_color
{
     background-color: #183661;
     color: white;
     /* padding: 20px 0; */
}
.main_menu a{
     color: white;
     padding: 30px 10px;
}
.main_menu li:hover      
{
     background-color: #F2C119;
}
img{
     width: 100%;
}
.search_bar
{
     position: relative;
}
.search_icon
{
     position: absolute;
     top: 0;
     left: 100%;
}
.main_menu
{
     position: relative;
}
.sub_menu
{
     position: absolute;
     top: 100%;
     left: 0;
}