*
{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
body
{
     font-family: Georgia, 'Times New Roman', Times, serif;
}
a
{
     display: inline-block;
}
.container
{
     padding: 0px 35px;
}
.white
{
     background-color: #EEF9FF;
     padding: 7px;
}
.blue
{
     background-color: #06A3DA;
     padding: 7px;
}
.main_color
{
     display: flex;
     justify-content: space-between;
}
.top_header
{
     display: flex;
}
.top_header .mail
{
     border-right: 1px solid white;
     /* margin: 10px; */

}
.sub_menu
{
     background-color:aqua;
}