*
{
     padding: 0;
     margin: 0;
}
.section
{
     display: flex;
     flex-wrap: wrap;
     padding: 10px;
     gap: 10px;
}    
img
{
     
     height: 100%;
     width: 100%;
     object-fit: cover;
     
}
.main
{

     height: 250px;
     flex-grow: 1;
     position: relative;
     /* justify-content: center; */

}
.content
{
     height: 50px;
     width: 50%;
     position: absolute;
     bottom: 0;
     left: 0;
     padding-top: 10px;
     
     background-color: rgba(0, 0, 0, .6);
     color: white;
     text-align: center;
     box-sizing: border-box;
     font-size: 25px;
     opacity: 0;
}
.main:hover .content
{
     opacity: 1;
     transform: .3s;
}