*
{
     margin: 0;
     /* padding: 0; */
     box-sizing: border-box;
}
body
{
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
ul
{
     list-style: none;
}
.main_menu
{
     display: flex;
     background-color:#1B1B1B;
     justify-content: center;
}
.main_menu a
{
     display: block;
     color: white;
     margin: 15px 20px;
     text-decoration: none;
}
.main_menu li:hover > a
{
     color: #36B1B6;
}
.main_menu .menu
{
     position: relative;
}
.sub_menu
{
     position: absolute;
     top: 100%;
     left: 0;
     background-color:#1B1B1B;
     width: 150px;
     display: none;
}
.main_menu li:hover  .sub_menu
{
     display: block;
}
.p_menu
{
     position: relative;
}
.peta_menu
{
     position: absolute;
     top: 0;
                                                  
     background-color:#1B1B1B;
     width: 200px;
     display: none;
}
.sub_menu li:hover .peta_menu
{
     display: block;
}
.main_menu_2
{
     position: relative;
}
.sub_menu_2
{
     position: absolute;
     background-color: #1B1B1B;
     top: 100%;
     left: 0;
     width: 150px;
     display: none;
}
.main_menu_2:hover .sub_menu_2
{
     display: block;
}
.icon
{
     margin-right: 10px;
}
.p1
{
     font-size: 17px;
}
.arrow
{
     padding-left: 10px;
}
.arrow1
{
     float: right;
}