*
{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
body{
     font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul{
     list-style: none;
}
a
{
     text-decoration: none;
}
nav
{
     background-color:#1961A1;
     width: 200px;
     height: 100vh;
}
.main_menu li a
{
   display: block;  
   padding: 15px 30px;
   color: white;
}
.main_menu li{
     position: relative;
}
.main_menu li:hover > a
{
     background-color: #66A4E7;
   
}
.sub_menu li:hover > a{
     background-color: #66A4E7 ;
}
.sub_menu{
     position: absolute;
     top: 0%;
     left: 100%;
     background-color: #1F3E54;
     display: none;
     width: 300px;
}
.main_menu li:hover .sub_menu
{
     display: block;
}
.sub_menu li{
     position: relative;
}
.peta_menu{
     position: absolute;
     top: 0%;
     left: 100%;
     background-color:#66A4E7;
     display: none;
     width: 300px;
}
.sub_menu li:hover >  a
{
     background-color:#66A4E7;
   
}
.peta_menu li:hover > a{
     background-color: #1F3E54;
}
.sub_menu li:hover .peta_menu
{
     display: block;
}



